@(newCategoryForm: Form[CategoryModel], listFormatModelList: List[ListFormatModel], account_id_in_session: String)

@import helper._
@import helper.twitterBootstrap._

@headline = {
    Create A List <small><a href="#"></a></small>
}

@header(Html(""), title = "Create A Post")
@main(headline, nav = "createAList", account_id_in_session) {
    @helper.form(action = routes.TodoList.generateAList, 'id -> "newCategoryForm") {
        <input type="hidden" value="" name="list_format_id" id="list_format_id">
        <fieldset>
            <legend>Create a list</legend>
            @inputText(
                newCategoryForm("category_name"),
                '_label -> "List name",
                '_help -> "Please enter the list's name.",
                '_error -> newCategoryForm.globalError
            )
        </fieldset>

        <fieldset>
            @for(i <- listFormatModelList.indices){
                <div class="radio">
                    <label>
                        @if(i == 0){
                            <input type="radio" name="optionsRadios" class="optionsRadios" value="@listFormatModelList.get(0).id" checked>
                        }else{
                            <input type="radio" name="optionsRadios" class="optionsRadios" value="@listFormatModelList.get(i).id">
                        }
                        @listFormatModelList.get(i).list_name
                    </label>
                </div>
            }
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Create" id="createAList">
            <a href="@routes.TodoList.createAList" class="btn">Cancel</a>
        </div>
    }
}

<script type="text/javascript">
    $(".chzn-select").chosen();
    $(".chzn-select-deselect").chosen({allow_single_deselect:true});
    jQuery("#createAList").click(
        function () {
            var checkbox_selection = $("input[name='optionsRadios'][type='radio']:checked");
            if(checkbox_selection.length==0)
            {
                alert("please choose a list");
                return ;
            }
            var data = checkbox_selection.val();
            $('input[id=list_format_id]').val(data);
            alert(data);
            $('#newCategoryForm').submit();
        }
    )
</script>
