@(newCategoryForm: Form[CategoryModel], listFormatModelList: List[ListFormatModel], account_id_in_session: String)

@import helper._
@import helper.twitterBootstrap._

@headline = {
    Create A List <small><a href="#"></a></small>
}

@header(Html(""), title = "Create A Post")
@main(headline, nav = "createAList", account_id_in_session) {
<form class="form-horizontal" action = "@routes.TodoList.generateAList"
      id="newCategoryForm" method="post" role="newCategoryForm">
    <input type="hidden" value="" name="list_format_id" id="list_format_id">
    @if(newCategoryForm.hasGlobalErrors) {
        <div class="alert alert-error">
            @newCategoryForm.globalError.message
        </div>
    }
    <div class="form-group">
        <label id="category_name_label" class="col-sm-2 control-label" for="category_name">List name</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" id="category_name" name="category_name"
                   placeholder="List name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Choose a list</label>
        <div class="col-sm-4">
            @for(i <- listFormatModelList.indices){
            <div class="radio">
                <label>
                    @if(i == 0){
                    <input type="radio" name="optionsRadios" class="optionsRadios" value="@listFormatModelList.get(0).id" checked>
                    }else{
                    <input type="radio" name="optionsRadios" class="optionsRadios" value="@listFormatModelList.get(i).id">
                    }
                    @listFormatModelList.get(i).list_name
                </label>
            </div>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Create" id="createAList">
            <a href="@routes.TodoList.createAList" class="btn">Cancel</a>
        </div>
    </div>
}

<script type="text/javascript">
    $(".chzn-select").chosen();
    $(".chzn-select-deselect").chosen({allow_single_deselect:true});
    jQuery("#createAList").click(
        function () {
            var checkbox_selection = $("input[name='optionsRadios'][type='radio']:checked");
            if(checkbox_selection.length==0)
            {
                alert("please choose a list");
                return ;
            }
            var data = checkbox_selection.val();
            $('input[id=list_format_id]').val(data);
            alert(data);
            $('#newCategoryForm').submit();
        }
    )
</script>
