@(categoryNameList: List[CategoryModel], account_id_in_session: String)

@import helper._
@import helper.twitterBootstrap._

@headline = {
    @categoryNameList.size Lists!
    <small><a href="#"></a></small>
}

@header(Html(""), title = "Posts")
@main(headline, nav = "", account_id_in_session) {
    @if(categoryNameList != null && categoryNameList.size() > 0){
        <div class="row">
            @categoryNameList.map { categoryModel =>
                @views.html.todolist.alistuponshowalllists(categoryModel)}
        </div>
    }
}