@(entryList: List[EntryModel], account_id_in_session: String)

@import helper._
@import helper.twitterBootstrap._

@headline = {
    @entryList.size Entries!
    <small><a href="#"></a></small>
}

@header(Html(""), title = "Posts")
@main(headline, nav = "", account_id_in_session) {
    @if(entryList != null && entryList.size() > 0){
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Content</th>
                </tr>
            </thead>
            @entryList.map { entry =>
                @views.html.todolist.anentryuponshowalist(entry)}
        </table>
    }
}