html, body {
    background-color: #eee;
}

.container-fluid > footer p,
.container > footer p {
    text-align: center; /* center align it with the container */
}

.container {
    width: 980px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    width: 980px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.row-fluid,
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    min-height: 10px;
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.row-fluid .span8,
.row-fluid .span2 {

}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    padding-left: 9px;
    margin-left: 10px;
    border-left: 1px solid #eee;
}

.topbar .btn {
    border: 0;
}

.topbar p {
    color: #888;
}

.profile {
    margin-left: 32px;
}

.profile:first-child > .danger {
    display: none;
}

.phones label {
    display: none;
}

.phones div:first-child label {
    display: inline-block;
}

.manage {
    margin-left: 32px;
    margin-bottom: 20px;
}

.phone_template, .profile_template {
    display: none;
}

.alert-error h4 {
    color: #b94a48;
}

#footer {
    height: 60px;
    margin-top: 20px;
}

.commenter-title {
    color: #2a5f95;
}

input.errorinput {
    color: #b94a48;
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.errorinput:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

input.successinput:focus {
    color: #468847;
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.successinput {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

span.loading {
    background: url(../images/ajax-loader.gif) no-repeat;
    margin-top: 10px;
}

.loadingModal {
    display: none;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url(../images/ajax-loader-cart.gif) 50% 50% no-repeat;
}

.loadingModal.loading {
    display: block;
}

.verticalline {
    margin: 20px 0 20px 0;
    border: 0;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #ffffff;
}

.itemStock input  {
    height: auto;
    line-height: 12px;
    padding: 5px;
    border: 1px solid #666666;
    color: #666666;
    background-color: seashell;
    list-style: none;
    cursor: pointer;
}

.itemStock input:hover {
    height: auto;
    line-height: 12px;
    padding: 5px;
    border: 1px solid #DA0203;
    color: #DA0203;
    list-style: none;
    cursor: pointer;
}

.itemStock input.checked {
    height: auto;
    line-height: 12px;
    padding: 5px;
    border: 1px solid #DA0203;
    list-style: none;
    color: #DA0203;
    cursor: pointer;
}

.itemStock input.nostock {
    height: auto;
    line-height: 12px;
    padding: 5px;
    border: 1px dashed #cccccc;
    list-style: none;
    background-color: #efefef;
    color: #cccccc;
    cursor: pointer;
}

li.itemStock {
    margin-top: 10px;
    font-size: 15px;
}